{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["defaults"],
          "node": "current"
        },
        "exclude": ["transform-regenerator"]
      }
    ]
  ],
  "plugins": ["fast-async", "external-helpers", "transform-object-rest-spread"]
}
